body {
    position: relative;
    margin: 0 auto;
}

.arrow {
    display: inline-block;
    position: relative;
    padding: 0 0 0 16px;
    color: #000000;
    text-decoration: none;
    vertical-align: middle;
}
.arrow::after {
    position: absolute;
    top: 0;
    right: -3px;
    bottom: 0;
            transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin: auto;
    border-right: 2px solid rgb(100, 100, 100);
    border-bottom: 2px solid rgb(100, 100, 100);
    vertical-align: middle;
    content: "";
    transition: all .2s ease;

    -webkit-transform: rotate(45deg);
}

.is-active {
    display: inline-block;
    position: relative;
    padding: 0 0 0 16px;
    color: #000000;
    text-decoration: none;
    vertical-align: middle;
}
.is-active::after {
    position: absolute;
    top: 0;
    right: -3px;
    bottom: 0;
            transform: rotate(-135deg);
    width: 5px;
    height: 5px;
    margin: auto;
    border-right: 2px solid rgb(100, 100, 100);
    border-bottom: 2px solid rgb(100, 100, 100);
    vertical-align: middle;
    content: "";
    transition: all .2s ease;

    -webkit-transform: rotate(-135deg);
}

.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 10px;
    background-color: rgb(250, 250, 250);
}
.header-right {
    display: flex;
    padding-right: 10px;
}
.header-left {
    display: flex;
}
.header-left p {
    margin: auto;
    font-size: 12px;
}
.header a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    color: rgb(130, 130, 130);
    font-size: 12px;
    text-decoration: none;
}
.header p {
    padding: 0 10px;
    color: rgb(130, 130, 130);
}
.header-left-left {
    border-right: 1px solid rgb(220, 220, 220);
}
.header-right-border {
    border-right: 1px solid rgb(220, 220, 220);
}
.header-right-box {
    display: flex;
    position: relative;
}
.click-menu-country {
    position: absolute;
    right: -20px;
    bottom: -80px;
    z-index: 10;
    width: 150px;
    height: 80px;
}
.click-menu-money {
    position: absolute;
    right: -10px;
    bottom: -80px;
    z-index: 10;
    width: 150px;
    height: 80px;
}
.click-menu {
            animation: UpAnime .5s forwards;

    -webkit-animation: UpAnime .5s forwards;
}
.click-menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    padding-left: 20px;
    background: white;
    color: rgb(97, 97, 97);
    font-size: 13px;
    text-decoration: none;
}
.click-menu a:hover {
    background-color: azure;
}

#scroll-to-top-btn {
    opacity: 0;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 10;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 10px;
    cursor: pointer;
    transition: all .8s;
}
#scroll-to-top-btn:hover {
    transform: translateY(-5px);
    background-color: rgb(240, 240, 240);
}
#select-btn {
    position: fixed;
    top: 200px;
    right: 0;
    z-index: 10;
    width: 45px;
    height: 35px;
    border: none;
    border-radius: 0;
    background-color: blue;
    cursor: pointer;
}
#select-btn-content {
    position: fixed;
    top: 235px;
    right: 0;
    z-index: 10;
    width: 250px;
    height: 250px;
    border: 1px solid gainsboro;
    background-color: white;
    text-align: center;
}
#select {
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius: 0;
    outline: none;
    margin-top: 30px;
    padding-left: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}
#select::-ms-expand {
    display: none;
}
.fa-solid {
    color: white;
    font-size: 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 30px;
    background-color: rgb(250, 250, 250);
}
.navigation div {
    display: flex;
}
.navigation p, .navigation a {
    font-weight: bold;
}

.SELL {
    font-size: 20px;
}
.SELL p {
    margin-bottom: 0;
}
.SELL span {
    color: aquamarine;
}
.HOME {
    font-size: 12px;
}
.HOME a {
    margin: auto;
    margin-bottom: 5px;
    color: rgb(100, 100, 100);
    text-decoration: none;
}
.home-first {
    padding-right: 1vw;
    padding-left: 0;
}
.home {
    padding-right: 1vw;
    padding-left: 5vw;
}
.no-arrow {
    padding-right: 0;
    padding-left: 5vw;
}
.home-last {
    padding-right: 1vw;
    padding-left: 5vw;
}
.logo {
    font-size: 12px;
}
.logo p {
    margin: auto;
    margin-bottom: 5px;
}
.logo-padding {
    padding-right: 15px;
}

.slide {
    display: flex;
    position: relative;
    width: auto;
    height: 45vw;
    overflow: hidden;
}
.sliderlist {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sliderlist__item {
    flex-shrink: 0;
    width: 2000px;
    height: auto;
}
.sliderlist__item1 {
    background-color: aquamarine;
}
.sliderlist__item2 {
    background-color: blue;
}
.sliderlist__item3 {
    background-color: brown;
}
.slide-btn {
    position: absolute;
    top: 0;
    bottom: 0;
            transform: rotate(45deg);
    width: 20px;
    height: 20px;
    margin: auto;
    vertical-align: middle;
    content: "";
    transition: all .2s ease;

    -webkit-transform: rotate(45deg);
}
.slide-btn-left {
    left: 20px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}
.slide-btn-right {
    right: 20px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.topic {
    position: relative;
    width: 65vw;
    height: 300px;
}
.topic div {
    position: absolute;
    top: 100px;
    left: 60px;
}
.topic h5 {
    margin: 0;
    color: rgb(130, 130, 130);
}
.topic h2 {
    margin: 0;
    padding: 5px 0;
}
.topic p {
    margin: 0;
    color: rgb(200, 200, 200);
    font-size: 16px;;
}

.sub-main {
    width: auto;
    height: auto;
}

.sub-main h1 {
    margin: 0;
    color: crimson;
}
.sub-main h2 {
    margin: 0;
    color: crimson;
}
.sub-main a {
    text-decoration: none;
}
.sub-main-money {
    margin-top: 5px;
    color: rgb(150, 150, 150);
    font-size: 12px;
}
.sub-main-shop {
    margin-top: 20px;
    color: rgb(150, 150, 150);
    font-size: 10px;
}
.small-box-text {
    position: absolute;
    top: 28vw;
    left: 2vw;
}
.big-box-text {
    position: absolute;
    top: 5vw;
    left: -6vw;
}
.small-box {
    position: relative;
    float: left;
    width: 30vw;
    height: 45vw;
    margin: 0 5vw;
}
.big-box {
    position: relative;
    float: left;
    width: 40vw;
    height: 45vw;
    margin: 0 10vw;
}
.small {
    width: 30vw;
    height: auto;
}
.big {
    width: 40vw;
    height: auto;
}

.service {
    position: relative;
    clear: left;
    width: auto;
    height: 600px;
    background-color: crimson;
}
.service div {
    position: absolute;
    top: 130px;
    left: 0;
    width: 50%;
    color: white;
    text-align: center;
}
.service h4 {
    margin: 0;
    font-weight: lighter;
    font-size: 45px;
}
.service p {
    margin: 10px 0;
    font-size: 10px;
}
p.Free {
    margin-bottom: 50px;
}
.service h1 {
    margin: 0;
    font-size: 70px;
}
.service a {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 8px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}
.service a:hover {
    background-color: white;
    color: black;
    transition: all .2s ;
}

.main-slide {
    width: 100%;
    height: 50vw;
}
.main-slide-title {
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-slide-container {
    display: flex;
    width: auto;
    height: auto;
    margin: 0 5vw;
    overflow: auto;
}
.main-slide-box {
    display: flex;
    list-style: none;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.main-slide-list {
    width: 18vw;
    height: auto;
    padding: 0 5px;
    box-sizing: border-box;
}
.huti {
    position: relative;
    width: auto;
    height: 18vw;
    overflow: hidden;
    border-bottom: 2px solid blue;
}
.main-slide-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: auto;
}
.mask {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, .8);
    transition: all .2s;
}
.mask-font {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 40px;
    background-color: rgb(33, 30, 46,.9);
    color: white;
    font-weight: bold;
    font-size: 10px;
    line-height: 40px;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    transition: all .2s;
}

.huti:hover .mask-font {
    opacity: 1;
}
.huti:hover .mask {
    opacity: 1;
}
.huti:hover {
    border-bottom: 2px solid red;
}
.main-slide-list h5 {
    margin: 0;
}
.main-slide-list p {
    color: rgb(150, 150, 150);
}
.item {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 12px;
}
.money {
    margin-top: 5px;
    font-size: 14px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
    background-color: rgb(250, 250, 250);
    font-size: 13px;
}
.footer div {
    margin: auto 0;
}
.footer-left {
    padding-left: 60px;
}
.footer-right {
    padding-right: 60px;
}
.solid {
    height: 30px;
    border-right: 1px solid black;
}
.footer h4 {
    margin: 0;
    padding-bottom: 10px;
    letter-spacing: 1px;
}
.footer p {
    margin: 0;
    color: rgb(200, 200, 200);
    font-size: 11px;
}

.main-footer {
    height: 350px;
    background-color: rgb(220, 220, 220);
    font-size: 13px;
}
.main-footer-box {
    display: flex;
    justify-content: space-between;
    margin: auto 60px;
}
.main-footer-box h3, .main-footer-box h4 {
    letter-spacing: 1px;
}
.main-footer-box p {
    color: rgb(150, 150, 150);
}
.main-footer-container-left {
    width: 35%;
    margin: 80px 0;
}
.main-footer-container-center {
    width: 15%;
    margin: 70px 0;
}
.main-footer-box a {
    display: block;
    color: rgb(150, 150, 150);
    text-decoration: none;
}
.main-footer-box a:hover {
            text-decoration-line: underline ;

    -webkit-text-decoration-line: underline ;
}
.main-footer-container-right {
    width: 35%;
    margin: 70px 0;
}
.main-footer-form {
    display: flex;
}
.main-footer-form input {
    width: 100%;
    height: 40px;
    padding: 0;
    padding-left: 10px;
    border: 1px solid rgb(150, 150, 150);
    border-right: none;
    border-radius: 0;
    box-sizing: border-box;
    background-color: rgb(220, 220, 220);
    color: black;
}
.main-footer-form input::-webkit-input-placeholder {
    color: rgb(150, 150, 150);
}
.main-footer-form input::-moz-placeholder {
    color: rgb(150, 150, 150);
}
.main-footer-form input:-ms-input-placeholder {
    color: rgb(150, 150, 150);
}
.main-footer-form input::-ms-input-placeholder {
    color: rgb(150, 150, 150);
}
.main-footer-form input::placeholder {
    color: rgb(150, 150, 150);
}
.main-footer-form input:focus {
    outline: none;
}
.main-footer-form button {
    width: 50px;
    height: 40px;
    padding: 0;
    border: 1px solid rgb(150, 150, 150);
    border-left: none;
    border-radius: 0;
    box-sizing: border-box;
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}
.main-footer-form button:hover {
    background-color: rgb(100, 100, 100);
    transition: all .2s;
}

.sub-footer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(60, 60, 60);
}
.sub-footer p {
    margin: auto auto auto 60px;
    color: rgb(220, 220, 220);
    font-size: 12px;
}
.sub-footer div {
    display: flex;
    height: auto;
    margin: auto 60px auto auto;
}
.sub-footer img {
    display: block;
    width: 40px;
    height: 20px;
}
.sub-footer-img-padding {
    padding-right: 5px;
}

.template-content {
    position: absolute;
    top: 105px;
    width: 100vw;
    height: 85vh;
    background-color: black;
}
.template-content-click {
    transform: translateY(-5px);
    transition: all .2s ease-out;
}